@inject NavigationManager Navigation
@page "/AdminHome"
@using BlazorNgani.Admin.Components.Services
@inject IProductService ProductService
@using Microsoft.AspNetCore.Components.Routing
@using Models
@using BlazorNgani.Components.Pages
<html data-theme="silk">

<body>
    <div class="page">


        <main>


            <article class="content ">


                <div class="drawer lg:drawer-open">
                    <input id="my-d rawer-2" type="checkbox" class="drawer-toggle" />
                    <div class="drawer-content flex flex-col ">
                        <div class="flex flex-row gap-9 items-end mt-10 justify-center">
                            <div class="card bg-primary text-primary-content w-46">
                                <div class="card-body">
                                    <h2 class="card-title">Add Product</h2>
                                    <p>Aa card component has a figure, a body part, and inside body there are title and actions parts</p>
                                    <div class="card-actions justify-end">
                                        <NavLink class="btn  " href="AddProducts">Add Now</NavLink>
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-primary text-primary-content w-46">
                                <div class="card-body">
                                    <h2 class="card-title">Card title!</h2>
                                    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
                                    <div class="card-actions justify-end">
                                        <button class="btn">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-primary text-primary-content w-46">
                                <div class="card-body">
                                    <h2 class="card-title">Card title!</h2>
                                    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
                                    <div class="card-actions justify-end">
                                        <button class="btn">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-primary text-primary-content w-46">
                                <div class="card-body">
                                    <h2 class="card-title">Card title!</h2>
                                    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
                                    <div class="card-actions justify-end">
                                        <button class="btn">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page content here -->

                        <div class="justify-center flex mt-7">
                            <div style="border:solid 1px rgba(0,0,0,0.2); width:58rem;"></div>
                        </div>
                        <div class="justify-between flex flex-row" >
                            <label class="flex flex-row justify-between input base-content w-90 mt-6 ml-4  text-neutral" style="border:solid 1px rgba(0,0,0,0.2)">
                                <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <g stroke-linejoin="round"
                                    stroke-linecap="round"
                                    stroke-width="2.5"
                                    fill="none"
                                    stroke="currentColor">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <path d="m21 21-4.3-4.3"></path>
                                    </g>
                                </svg>
                                <input type="search" required placeholder="Search" class=" text-neutral" />
                            </label>
                            <h5 class="text-base-content italic mr-5 mt-3 ">List All Product</h5>
                        </div>
                        <div class="flex-col flex flex-wrap sm:flex-wrap lg:flex flex-row gap-10 mb-2 justify-center  items-center flex-wrap min-h-screen">


                            @if (products != null)
                            {
                                @foreach(var product in products)
                                {
                                    <ProductCard Item="product" />
                                }
                            }


                        </div>

                    </div>



                </div>
            </article>
        </main>
    </div>


</body>
</html>
@code{
    private List<Product> products;
    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAllProduct();
    }
}