@page "/ProductOverview/{ProductId:int}"
@inject NavigationManager navigation
@using BlazorNgani.Admin.Components.Services
@inject IProductService ProductService
@using Models
<div class="mockup-browser border-base-300 border bg-base-100 w-full" style="border:0; border-radius:0">



    <div class="mockup-browser-toolbar flex ">
        <h5 class="text-semilight font-semibold text-base-content  italic ml-auto">Product Details</h5>

    </div>
    <div class="grid  bg-base-200 border-t border-base-300 h-119">

        @if (product != null)
        {
   
              <div class=" flex" style="margin-top:-3.4rem; ">
                <div class="hero  min-h-screen ">
                    <div class="hero-content flex-col lg:flex-row">
                        <img src="@product.CoverImagePath"
                             class="max-w-xs rounded-lg shadow-2xl w-66 h-106 object-cover border" />
                        <div style="margin-top:-1rem;">
            
                                <h1 class="text-4xl  text-primary italic font-bold">@product.Title</h1>
                            
        
                            <div class="rating mt-1">
                                <div class="mask mask-star" aria-label="1 star"></div>
                                <div class="mask mask-star" aria-label="2 star"></div>
                                <div class="mask mask-star" aria-label="3 star" aria-current="true"></div>
                                <div class="mask mask-star" aria-label="4 star"></div>
                                <div class="mask mask-star" aria-label="5 star"></div>
                            </div>
                            <h5 class="text-secondary mt-1">Author:&nbsp;@product.Authors</h5>
          
                          <h1 class="text-base-content mt-1 text-lg">@product.Tags</h1>
                            <h1 class="text-3xl text-primary font-semibold mt-1">$@product.Price.ToString("0.00")</h1>
                        <div class="flex flex-row mt-4 gap-4">
                                <button class="btn btn-warning ">Add To Cart</button>
                                <button class="btn btn-secondary">Purchase</button>
                        </div>
                            <p class="py-4">@product.Description
                             
                            </p>
                            <h1 class="text-base-content mt-1 text-md">Genre:&nbsp;@product.Genre</h1>
                            <h1 class="text-base-content mt-1 text-md">Language:&nbsp;@product.Language</h1>
                  
                        </div>
                    </div>
                </div>

              </div>

    
        }


    </div>
</div>



@code {
    private Product product;
    [Parameter]
    public int ProductId { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        product = await ProductService.GetProduct(ProductId);
    }
}
