@page "/Menu"
@rendermode InteractiveServer
@inject NavigationManager navigation
@using Microsoft.EntityFrameworkCore
@using Models
@using Admin.Components.Services
@inject IProductService ProductService
@using Data
@inject ApplicationDbContext _db





<body data-theme="light" class="bg-neutral-content"

    <div class="flex-wrap flex ga-4 sm:flex-wrap lg:flex flex-row justify-center gap-8 mt-6 ">
        <div class="card bg-primary-content image-full w-40 shadow-sm">
            <figure>
                <img src="/Img/romance.jpg"
                     alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title text-warning  text-2xl font-extrabold">Romance</h2>
                <p class="font-mono">Find your next great love story. Shop our Romance Books</p>
                <div class="card-actions justify-end">
                    <NavLink class="btn text-error btn-neutral" href="RomancePage">View all</NavLink>
                </div>
            </div>
        </div>
        <div class="card bg-primary-content  image-full w-40 shadow-sm">
            <figure>
                <img src="/Img/fantasy.jpg"
                     alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title   text-2xl font-extrabold text-info">Fantasy</h2>
                <p class="font-mono">Find your next grand adventure. Shop our Fantasy Books</p>
                <div class="card-actions justify-end">
                    <NavLink class="btn  text-error btn-neutral" href="FantasyPage">View all</NavLink>
                </div>
            </div>
        </div>
        <div class="card bg-base-100  image-full w-40 shadow-sm">
            <figure>
                <img src="/Img/manga.jpg"
                     alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title text-2xl font-extrabold" style="color:rgb(150, 170, 0)">Manga</h2>
                <p class="font-mono">Uncover epic tales and vibrant art. Browse our Manga Series.</p>
                <div class="card-actions justify-end">
                    <NavLink class="btn  text-error btn-neutral" href="MangaPage">View all</NavLink>
                </div>
            </div>
        </div>
        <div class="card bg-base-100  image-full w-40 shadow-sm">
            <figure>
                <img src="/Img/manhwa.jpg"
                     alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title text-2xl font-extrabold text-error">Manhwa</h2>
                <p class="font-mono">Dive into vibrant Korean webtoons. Shop our Manhwa Books.</p>
                <div class="card-actions justify-end">
                    <NavLink class="btn  text-error btn-neutral" href="ManwhaPage">View all</NavLink>
                </div>
            </div>
        </div>
        <div class="card bg-base-100  image-full w-40 shadow-sm">
            <figure>
                <img src="/Img/suspense.jpg"
                     alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title text-2xl font-extrabold " style="color:rgb(194, 183, 57)">Suspense</h2>
                <p class="font-mono">Feel the tension build. Discover your next Suspense read..</p>
                <div class="card-actions justify-end">
                    <NavLink class="btn  text-error btn-neutral" href="SuspensePage">View all</NavLink>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-col flex flex-wrap sm:flex-wrap lg:flex flex-row gap-9 mt-5 justify-center  items-center flex-wrap min-h-screen">


        @if (products != null)
        {
            @foreach (var product in products)
            {
                <ProductCard Item="product" />
            }
        }

    </div>

</body>

@code {

    private List<Product> products;


    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAllProduct();
    }
}






