@inherits LayoutComponentBase
@inject NavigationManager Navigation
<html data-theme="silk">

<body>
    <div class="page">
        @if (ShowSideBar)
        {
            <div class="sidebar">
                <NavMenu />

            </div>
        }

        <main>
            <div class="hidden sm:block lg:flex flex-row  items-center pt-2 pb-2 justify-end gap-2 px-3" style="border-bottom:solid 1px rgba(0,0,0,0.2)">
                <div class="justify-self-start text-neutral self-center breadcrumbs text-sm" style="margin-right: auto;">
                    <ul>
                        <li><a>Home</a></li>
                        <li class="text-secondary-content"><a>Main Menu</a></li>
                        <li>Shop now</li>
                    </ul>
                </div>

                <label class="input base-content">
                        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round"
                               stroke-linecap="round"
                               stroke-width="2.5"
                               fill="none"
                               stroke="currentColor">
                                <circle cx="11" cy="11" r="8"></circle>
                                <path d="m21 21-4.3-4.3"></path>
                            </g>
                        </svg>
                        <input type="search" required placeholder="Search" />
                    </label>
                <svg class="w-[28px] h-[28px] text-secondary-content ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312" />
                </svg>

                <NavLink class="base-content font-light text-lg">Home</NavLink>
                <NavLink class="base-content font-light text-lg">Sign up</NavLink>
                <label class="toggle text-base-content text-neutral ml-2 w-12 ">
                    <input type="checkbox" value="synthwave" class="theme-controller" />

                    <svg aria-label="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path d="m19.07 4.93-1.41 1.41"></path></g></svg>

                    <svg aria-label="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></g></svg>

                </label>
           
            </div>

            <article class="content px-4">
                @Body

            </article>
        </main>
    </div>

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>

</body>
</html>
@code {
    private bool ShowSideBar => !string.IsNullOrEmpty(Navigation.ToBaseRelativePath(Navigation.Uri));
} 