@using Microsoft.AspNetCore.Components.Routing
@inherits LayoutComponentBase
@inject NavigationManager navigation

<!-- Your layout content -->
<html data-theme="silk">
<body>
    <div class="page">
        

        <main>

            <div class="hidden sm:block lg:flex flex-row  items-center pt-2 pb-2 justify-end gap-2 px-3" style="border-bottom:solid 1px rgba(0,0,0,0.2)">
                <a class=" font-bold items-center italic  text-xl flex-row flex" href="" style="color:rgb(197, 92, 0)">
                    <svg class="w-[35px] h-[35px] text-secondary-content" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linejoin="round" stroke-width="0.5" d="M12.1429 11v9m0-9c-2.50543-.7107-3.19099-1.39543-6.13657-1.34968-.48057.00746-.86348.38718-.86348.84968v7.2884c0 .4824.41455.8682.91584.8617 2.77491-.0362 3.45995.6561 6.08421 1.3499m0-9c2.5053-.7107 3.1067-1.39542 6.0523-1.34968.4806.00746.9477.38718.9477.84968v7.2884c0 .4824-.4988.8682-1 .8617-2.775-.0362-3.3758.6561-6 1.3499m2-14c0 1.10457-.8955 2-2 2-1.1046 0-2-.89543-2-2s.8954-2 2-2c1.1045 0 2 .89543 2 2Z" />
                    </svg>
                    Lost Library
                </a>
                <div class="justify-self-end text-neutral mr-3 self-center breadcrumbs text-sm" style="margin-left: auto;">
                    <ul>
                        <li><a>Home</a></li>
                        <li class="text-secondary-content"><a>Admin</a></li>
                        <li>Sell now</li>
                    </ul>
                </div>

                <label class="toggle text-base-content base-content w-12 ">
                    <input type="checkbox" value="synthwave" class="theme-controller" />

                    <svg aria-label="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path d="m19.07 4.93-1.41 1.41"></path></g></svg>

                    <svg aria-label="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></g></svg>

                </label>

                <div class="indicator ">
                    <span class="indicator-item indicator-start sm:indicator-middle md:indicator-bottom lg:indicator-center xl:indicator-center badge badge-secondary" style="margin-top:1rem;">12</span>
                    <div class=" grid h-12 w-12 place-items-center">
                        <svg class="w-[29px] h-[29px] base-content" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" d="M12 5.365V3m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175 0 .593 0 1.193-.538 1.193H5.538c-.538 0-.538-.6-.538-1.193 0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 12 5.365Zm-8.134 5.368a8.458 8.458 0 0 1 2.252-5.714m14.016 5.714a8.458 8.458 0 0 0-2.252-5.714M8.54 17.901a3.48 3.48 0 0 0 6.92 0H8.54Z" />
                        </svg>
                    </div>
                </div>


                <svg style="color:rgb(197, 92, 0)" class="w-[34px] h-[34px] mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd" />
                </svg>

            </div>



            <!--      <NavLink class="justify-start text-md font-semibold text-error" href="/admin">
                      Admin Dashboard
                  </NavLink>

                  <NavLink class="btn" href="/admin/AddProducts">
                      Add Products
                  </NavLink>-->
            <div class="drawer lg:drawer-open">
                <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
                
                <!-- Page content container -->
                <div class="drawer-content flex flex-col">
                    <!-- Mobile menu button -->
                    <label for="my-drawer-2" class="btn mt-2 ml-2 justify-start btn-primary drawer-button lg:hidden">
                        <svg class="w-[24px] h-[24px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M10 4H4c-1.10457 0-2 .89543-2 2v12c0 1.1046.89543 2 2 2h6V4ZM4.37868 9.29289c-.39052.39053-.39052 1.02371 0 1.41421l1.29283 1.2928-1.29283 1.2929c-.39052.3905-.39052 1.0237 0 1.4142.39052.3905 1.02369.3905 1.41421 0l1.99994-2c.39053-.3905.39053-1.0236 0-1.4142L5.79289 9.29289c-.39052-.39052-1.02369-.39052-1.41421 0Z" clip-rule="evenodd" />
                            <path d="M12 20h8c1.1046 0 2-.8954 2-2V6c0-1.10457-.8954-2-2-2h-8v16Z" />
                        </svg>
                    </label>
                    

            <article class="content">
                @Body
            </article>
            </div>
              <div class="drawer-side" style="border-right:solid 1px rgba(0,0,0,0.2)">
                <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
                    <!-- Sidebar content -->
                    <li><NavLink href="/AdminHome" Match="NavLinkMatch.Prefix" class="text-lg">Dashboard</NavLink></li>
                    <li><NavLink href="/AddProducts" class="text-lg">Add Products</NavLink></li>
                    <li><a class="text-lg">Manage Orders</a></li>
                    <li><a class="text-lg">User Management</a></li>
                    <li><a class="text-lg">Analytics</a></li>
                    <li><a class="text-lg">Settings</a></li>
                </ul>
            </div>
            </div>
        </main>
    </div>
</body>

</html>